.contacts {
  text-align: center;
}

.contacts__wrap {
  padding: 47px 20px 10px 20px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 48px 20px 30px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 65px 10px 40px 10px;
  }
}

.contacts__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
  line-height: 1.25em;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-bottom: 0;
    font-size: $font-size--x-large;
    line-height: 1.25em;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size--xl-large;
  }
}

.contacts__item-wrap {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 920px;
    padding-top: 10px;
  }
}

.contacts__item {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-top: 40px;
    margin-bottom: 0;

    &:last-child {
      margin-top: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;

    &:last-child {
      margin-top: 43px;
    }

    &--second {
      order: 2;
    }

    &--third {
      order: 1;
      margin-top: 43px;
    }
  }
}

.contacts__subtitle {
  display: block;
  font-size: $font-size--larger;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;

    &--last-child {
      margin-bottom: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.contacts__content {
  font-size: $font-size--large;
  font-weight: 300;
  color: $color-secondary;
  line-height: 1.2em;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &--link:hover {
    color: $color-main;
    text-decoration: underline;
  }

  &--link:active {
    color: $color-main--down;
  }
}
