.field-text {
  width: 100%;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}

.field-text__help-text {
  display: block;
  margin-left: 22px;
  margin-bottom: 6px;
  color: $color-secondary;
  text-transform: uppercase;
  line-height: 2.1428em;

  @media (min-width: $tablet-width) {
    display: inline;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 52px;
  }
}

.field-text__input {
  width: 100%;
  padding: 22px;
  padding-bottom: 21px;
  border: 2px solid $gray-229;
  border-radius: 2px;
  outline: none;

  &:hover {
    border-color: $color-main;
  }

  &:focus {
    border-color: $color-secondary;
  }

  &::placeholder {
    font-size: $font-size--larger;
    line-height: 1.6667em;
    color: $color-main;
  }
}
