.foto-wrap {
  // для IE
  overflow: hidden;
}

.foto-wrap__inner {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
