.intro {
  padding-top: 400px;
  background-color: $color-bg-dark-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: center -70px;
  background-repeat: no-repeat;
}

.intro__description-block {
  padding: 30px 20px 30px 20px;
}

.intro__slogan {
  display: none;
}

.intro__link {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 35px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.intro__logo-list {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  width: 210px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.intro__logo-item {
  margin: 0;
  width: 50px;
  height: 60px;
  &--apple {
    background-image: url("../../img/logo-apple.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--android {
    background-image: url("../../img/logo-android.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--windows {
    background-image: url("../../img/logo-microsoft.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.intro__summary {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $width-tablet) {
  .intro {
    padding: 100px 20px 110px 20px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: center -110px;
  }

  .intro__description-block {
    width: 300px;
  }

  .intro__slogan {
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
  }

  .intro__link {
    padding: 15px 50px;
  }

  .intro__summary {
    font-size: 18px;
  }
}

@media (min-width: $width-desktop) {
  .intro {
    padding: 225px 130px 125px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-position: center;
  }
}
