.main-nav__list {
  display: flex;
  flex-direction: column;

  @include list-clear;
}

.main-nav__link {
  display: block;
  padding: 16px;

  text-align: center;
  background-color: #1c2530;
  color: #ffffff;
  text-transform: uppercase;

  @include font-param(18px, 32px);
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__link {
    background: transparent;
  }
}
