.page-footer {
  padding: 40px 20px 35px 20px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 30px 20px 36px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 73px 0;
  }

  &--no-footer {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--photo-index {
    @media (min-width: $desktop-width) {
      padding-top: 100px;
      padding-bottom: 72px;
    }
  }
}

.page-footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 41px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -20px;
  }
}

.page-footer__logo-img {
  width: 100%;
  height: 100%;
  fill: $color-main;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:hover {
    fill: $color-secondary;
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--desk {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 11px;
    margin-left: -25px;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }
}

.page-footer__copyright-text {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    line-height: 1.2857em;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size--larger;
    line-height: 1.2857em;
  }
}

.page-footer__copyright-link {
  width: 27px;
  height: 34px;
}

.page-footer__copyright-link svg {
  fill: $color-secondary;

  &:hover {
    fill: $color-main;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
