.page-header {
  width: auto;
  background-color: $color-bg-dark-blue;
}

.page-header__logo-and-menu-block {
  padding: 20px 20px 25px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $width-desktop) {
  .page-header {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba($color-bg-dark-blue, 0.9);
  }

  .page-header__logo-and-menu-block {
    padding: 25px 130px 45px 130px;
  }
}
