.page-header__wrap {
  position: relative;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
