.photo--panorama {
  margin-bottom: 20px;
}

.photo__image {
  margin: 0;
  display: block;
}

.photo__item {
  background-color: $color-bg-light-grey;
  margin-bottom: 20px;
}

.photo__description {
  margin: 0 auto;
  padding: 25px 20px;
  width: 280px;
  box-sizing: border-box;
  background-color: $color-bg-light-grey;
}

.photo__author {
  font-size: 15px;
  font-weight: bold;
}

.photo__time {
  font-size: 12px;
  text-transform: uppercase;
}

.photo__comment {
  font-size: 14px;
}

.photo__like-sum {
  font-size: 12px;
  text-transform: uppercase;
  color: $color-text-pink;
}

.photo__wrapper {
  padding: 0 20px;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $width-tablet) {
  .photo--panorama {
    & .photo__description {
      padding: 30px 20px;
      width: 620px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    & .photo__author {
      order: 1;
    }

    & .photo__like-block {
      order: 2;
    }

    & .photo__comment {
      width: 100%;
      order: 3;
    }
  }

  .photo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }

  .photo__item {
    width: 300px;
  }
}

@media (min-width: $width-desktop) {
  .photo--panorama {
    margin-bottom: 50px;

    & .photo__description {
      width: 940px;
    }
  }

  .photo__wrapper {
    margin: 0 auto;
    width: 940px;
  }

  .photo__item {
    margin-bottom: 55px;
  }
}
