.photo__image {
  margin: 0 auto;
  align-self: center;
}

.photo__description {
  margin: 0 auto;
  padding: 25px 15px;
  width: 280px;
  box-sizing: border-box;
  background-color: $color-bg-light-grey;
}

.photo__author {
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.photo__time {
  font-size: 12px;
  text-transform: uppercase;
}

.photo__text {
  margin-left: 15px;
  font-size: 14px;
  line-height: 25px;
}

.photo__like-summary {
  font-size: 12px;
  color: $color-text-pink;
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .photo--panorama {
    padding: 0;
    width: 100%;

    & .photo__description {
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 620px;
    }

    & .photo__author-and-time {
      order: 1;
    }

    & .photo__like-section {
      order: 2;
    }

    & .photo__text {
      margin: 0;
      width: 100%;
      order: 3;
    }
  }

  .photo {
    min-height: 175px;
  }
}
