.round-diagram {
  display: none;
}

@media (min-width: $width-tablet) {
  .round-diagram {
    padding: 105px 20px 105px 330px;
    display: block;
    background-color: #ffffff;
    text-align: left;
  }

  .round-diagram__header {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }

  .round-diagram__summary {
    margin: 0;
    margin-bottom: 20px;
    width: 280px;
    font-size: 14px;
    line-height: 25px;
  }

  .round-diagram__link {
    font-size: 14px;
    color: $color-text-pink;
  }
}

@media (min-width: $width-desktop) {
  .round-diagram {
    padding: 130px 130px 120px 500px;
    background-color: $color-bg-light-grey;
    text-align: left;
  }

  .round-diagram__header {
    margin-bottom: 30px;

    & br {
      display: none;
    }
  }

  .round-diagram__summary {
    margin: 0;
    margin-bottom: 40px;
    width: 530px;
  }
}
