.social__list {
  padding: 0;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.social__item {
  width: 51px;
  height: 51px;
  background-color: #000000;
}
