.upload__summary {
  padding: 30px 30px 50px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.upload__block {
  padding: 20px 20px 40px;
  width: 320px;
  min-height: 760px;
  box-sizing: border-box;
  background-color: $color-bg-light-grey;
}

@media (min-width: $width-tablet) {
  .upload__block {
    width: 660px;
    min-height: 510px;
  }
}

@media (min-width: $width-desktop) {
  .upload__block {
    margin: 0 auto;
    width: 940px;
    min-height: 510px;
  }
}
