.upload__caption {
  padding: 20px 20px 42px 20px;
  line-height: 2.1428em;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 45px 20px 70px 20px;
    font-size: $font-size--larger;
    line-height: 1.6667em;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 65px;
  }
}

.upload__editor {
  background-color: $gray-242;
  padding-top: 22px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    min-height: 509px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 940px;
    min-height: 515px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 60px;
  }
}

.upload__editor-inner-wrap {
  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 0;
    padding-top: 57px;
    padding-bottom: 53px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.upload__file {
  display: block;
  width: 280px;
  height: 374px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 300px;
    height: 400px;
  }
}

.upload__admin-wrap {
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }
}

.upload__controls-wrap {
  padding-bottom: 28px;
  border-bottom: 1px solid $gray-221;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.upload__btn-wrap {
  margin: 0 auto;
  width: 280px;
  padding-top: 35px;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.upload__btn {
  &:last-child {
    margin-top: 15px;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 0 auto;

    &:last-child {
      margin-top: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    margin: 0;

    &:last-child {
      margin: 0;
    }
  }
}
