/* Прятки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Глобальная разметка*/
body {
  margin: 0 auto;
  width: $width-mobile;
  background-color: $color-bg-main-color;
  font-family: "OpenSans", sans-serif;
}

@media (min-width: $width-tablet) {
  body {
    width: $width-tablet;
  }
}

@media (min-width: $width-desktop) {
  body {
    width: $width-desktop;
  }
}
