@mixin font-param($font-size, $font-height) {
  font-size: $font-size;
  font-height: $font-height;
}

@mixin list-clear() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper-set() {
  width: calc(100% - 20px);
  margin: 0 auto;
}
