@mixin font-param($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list-clear() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper-set() {
  width: calc(100% - 40px);
  margin: 0 auto;
}
