$font-family: "Open Sans",  "Arial", sans-serif;

$font-size--smaller: 12px;
$font-size: 14px;
$font-size--larger: 18px;
$font-size--large: 24px;
$font-size--x-large: 40px;
$font-size--xl-large: 50px;

//================

$line-height: 1.7143em;

//================

$color-main: #283645;
$color-main--lightest: rgba(40, 54, 69, 0.1);
$color-main--lighten: rgba(40, 54, 69, 0.3);

$color-main--down: rgba(40, 54, 69, 0.3);
$color-main--dark: #1d2631;

$color-secondary: #d22856;
$color-secondary--down:  rgba(210, 40, 86, 0.3);

$color-success: #2aab6d;
$color-success--hover: #1c9b5e;

$gray-126: #7e868f;
$gray-141: #8d949b;
$gray-178: #b2b2b2;
$gray-181: #b5b9be;
$gray-194: #bec2c7;
$gray-221: #dddfe0;
$gray-229: #e5e5e5;
$gray-233: #e9ebec;
$gray-242: #f2f2f2;

$slider-bullet: #bec2c7;
$slider-bullet-hover: #7e868f;
$slider-bullet-down: #e9ebec;

$color-map: #f3f1ea;

//================

$tablet-width: 660px;
$desktop-width: 960px;
